pillow
pyautogui
pytesseract
numpy
opencv-python
keyboard
python-Levenshtein
fuzzywuzzy
expiringdict
pafy
youtube_dl
opencv-python-headless
selenium
# pip install torch torchvision torchaudio cudatoolkit=12.3 -f https://download.pytorch.org/whl/torch_stable.html